* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
textarea,
pre {
	color: $text-color;
	font-size: 1em;
	font-family: $font-family;
	line-height: 1.5;
}

.input,
.output {
	position: fixed;
	top: 0;
	bottom: 0;
	padding: 1em;
	width: 50%;
}

.input {
	left: 0;
	border: none;
	background: $input-bg;
	color: $input-color;
}

.output {
	right: 0;
	overflow: scroll;
	white-space: pre-wrap;
}

mark,
dfn {
	padding-right: .2em;
	padding-left: .2em;
	color: inherit;
}

mark {
	background-color: $error;
}

mark:before {
	content: attr(data-omit);
}

.omit { text-decoration: line-through; }

dfn {
	background-color: $swap;
}